@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* よく使う要素だけリセット */
body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header_top {
  height: 2.6rem;
  background-color: #00A0E9;
  display: flex;
  align-items: center;
}
.header_top p {
  color: #ffffff;
  margin-left: 29.5rem;
}

.header_info {
  display: flex;
  justify-content: space-between;
  margin: 1.7rem 15rem;
}

.heading_tel {
  margin-right: 1.8rem;
}

footer {
  width: 100%;
  margin: 0 auto;
}

.footer_inner {
  display: flex;
  justify-content: center;
}

.top_nav {
  padding: 2.3rem 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.list-item {
  padding: 1.2rem 4rem;
  font-size: 1.6rem;
}

.top_nav_item {
  color: #333333;
  border-left: 0.1rem solid #cccccc;
}
.top_nav_item:last-child {
  border-right: 0.1rem solid #cccccc;
}

.footer_nav {
  width: 100%;
  height: 6rem;
  background-color: #00A0E9;
}
.footer_nav_item {
  color: #ffffff;
  border-left: 0.1rem solid #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
}
.footer_nav_item:last-child {
  border-right: 0.1rem solid #ffffff;
}

.section_title {
  width: 73.2rem;
  height: 5rem;
  background-color: #e7ecd5;
  color: #333333;
  font-size: 2.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section_title::before {
  content: "";
  display: block;
  background-color: #00A0E9;
  width: 0.7rem;
  height: 3rem;
  margin-left: 1rem;
}

.contents {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 14rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.top-container {
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
}

main {
  border-top: 0.3rem solid #EBECE7;
  border-bottom: 0.3rem solid #EBECE7;
}

.FV {
  background: url(../img/mainvisual-pc.png) center/contain no-repeat;
  height: 34.6rem;
  max-width: 130rem;
  margin: 0 auto;
}

.news {
  display: flex;
  flex-direction: column;
}

.news_item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.6rem;
}
.news_item:first-child {
  padding-top: 2.1rem;
}
.news_item:last-child {
  padding-bottom: 2.8rem;
}
.news_item time {
  font-size: 1.6rem;
  color: #aaaaaa;
}
.news_item a {
  font-size: 2.2rem;
  font-weight: 700;
  color: #00A0E9;
}

.news_more {
  width: 19rem;
  height: 3.7rem;
  background-color: #f39800;
  align-self: flex-end;
}
.news_more_text {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
}
.news_more_text::after {
  content: "＞";
  margin-left: 2.1rem;
  color: #ffffff;
}

.pickup {
  margin-top: 4rem;
}
.pickup_text_area {
  padding: 2rem 0;
  font-size: 1.6rem;
}
.pickup_list {
  display: flex;
  gap: 1.8rem;
}
.pickup_item {
  width: 23.2rem;
  height: 26rem;
}
.pickup_item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.customer {
  width: 73.2rem;
}
.customer_item {
  border: 0.1rem solid #cecebf;
  padding: 2.5rem;
  margin: 2.5rem 0;
  max-width: 100%;
}
.customer_item:last-child {
  margin-bottom: 4rem;
}
.customer_voice {
  display: flex;
  gap: 2.5rem;
  align-items: start;
}
.customer_voice_img {
  height: 17.8rem;
  width: 17.8rem;
  overflow: hidden;
  flex-shrink: 0;
}
.customer_voice_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.customer_voice_content {
  display: flex;
  flex-direction: column;
  height: 17.8rem;
}
.customer_voice_info {
  display: flex;
  justify-content: end;
  margin-top: auto;
}
.customer_voice_info time, .customer_voice_info span {
  font-size: 1.6rem;
}

.content_title {
  font-size: 2.2rem;
  font-weight: 700;
  border-bottom: 0.1rem solid #cecebf;
  padding-bottom: 0.5rem;
}
.content_title a {
  color: #00A0E9;
}

.content_text {
  font-size: 1.6rem;
  margin-top: 2rem;
  line-height: 2.88rem;
}

.contact {
  width: 73.2rem;
  height: 13.4rem;
  border: 0.1rem solid #cecebf;
}
.contact_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_inner_tel {
  width: 26.4rem;
  height: 4.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact_inner_border {
  border: 0.1rem solid #cecebf;
  width: 6.4rem;
  transform: rotate(90deg);
}
.contact_inner_img {
  width: 33.5rem;
  height: 6.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */