@use "../global/setting" as *;

.section_title {
    height: 5rem;
    color: $color2;
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;

    &::before {
        content: "";
        display:block;
        background-color: $color1;
        width: 0.7rem;
        height: 3rem;
        margin-left: 1rem;
    }

}

.main_section {
    width: 73.2rem;
    background-color: $color4;
}

