@use "../global/setting" as *;

.top-container {
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
}

main {
    border-top: 0.3rem solid $solid;
    border-bottom: 0.3rem solid $solid;
}

.FV {
    background: url(../img/mainvisual-pc.png) center/ contain no-repeat;
    height: 34.6rem;
    max-width: 130rem;
    margin: 0 auto;
}