@use "../global/setting" as *;

.pickup {
    margin-top: 4rem;

    &_text_area {
        padding: 2rem 0;
        font-size: 1.6rem;
    }

    &_list {
        display: flex;
        gap: 1.8rem;
    }

    &_item {
        width: 23.2rem;
        height: 26rem;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

